<!-- C O N T A C T -->
<section id="main">
  <div class="padded">
    <header>
      {% if home %}
      <span class="profile-picture"
        ><img src="{{ url_for('static', filename='images/David.png') }}" alt=""
      /></span>
      {% endif %}

      <p>Connect with me</p>
    </header>

    <footer>
      <ul class="icons">
        <li>
          <a href="https://github.com/tanimowodavid" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </li>
        <li>
          <a href="mailto:davidtanimowo01@gmail.com"
            ><i class="bi bi-envelope"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/tanimowodavid" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://wa.me/+2349130739626" target="_blank"
            ><i class="bi bi-whatsapp"></i
          ></a>
        </li>
      </ul>
      <!-- Footer -->
      <div id="footer">
        <p class="copyright">
          &copy; 2025 Tanimowo David | Built with python & ❤️
        </p>
      </div>
    </footer>
  </div>
</section>
