<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RetireSmart</title>

    <!-- CSS  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <!-- CSS  -->
    <style>
      body {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
          ),
          url("{{ url_for('static', filename='retirement/background.jpg') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* min-height: 100vh; */
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-primary mb-3">
            Retirement Awareness Tool
          </h1>
          <p class="col-lg-10 fs-4">
            Enter a few numbers to see how inflation affects your future
            spending and whether your savings are enough.
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="row g-3" id="calcForm">
            <div class="col-md-12">
              <label for="annual_income" class="form-label"
                >Annual Income
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="How much do you earn in a year?"
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="annual_income"
                class="form-control"
                type="number"
                min="0"
                step="0.01"
                required
              />
            </div>
            <div class="col-md-12">
              <label for="annual_spending" class="form-label"
                >Annual Spending
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="How much do you spend in a year?"
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="annual_spending"
                class="form-control"
                type="number"
                min="0"
                step="0.01"
                required
              />
            </div>
            <div class="col-6">
              <label for="current_age" class="form-label"
                >Current Age
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="How old are you currently?"
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="current_age"
                class="form-control"
                type="number"
                min="0"
                required
              />
            </div>
            <div class="col-6">
              <label for="retirement_age" class="form-label"
                >Retirement Age
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="At what age do you plan to retire?"
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="retirement_age"
                class="form-control"
                type="number"
                min="0"
                required
              />
            </div>

            <div class="col-md-4">
              <label for="current_savings" class="form-label"
                >Savings
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="How much do you currently have in savings?"
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="current_savings"
                class="form-control"
                type="number"
                min="0"
                step="0.01"
                value="0"
                required
              />
            </div>

            <div class="col-md-4">
              <label for="inflation_rate" class="form-label"
                >Influation %
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="Influation reduces the purchasing power of your money over time. A higher rate means your money will lose value faster."
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="inflation_rate"
                class="form-control"
                type="number"
                min="0"
                step="0.01"
                value="3"
                required
              />
            </div>
            <div class="col-md-4">
              <label for="life_expectancy" class="form-label"
                >Life Exp
                <span
                  href="javascript:void(0)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  data-bs-title="How long do you expect to live? This helps in planning your retirement funds."
                  ><i class="bi bi-info-circle"></i></span
              ></label>
              <input
                id="life_expectancy"
                class="form-control"
                type="number"
                min="50"
                value="100"
                required
              />
            </div>
            <div
              id="error"
              class="text-danger mb-3"
              role="alert"
              style="display: none"
            ></div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary" id="submitBtn">
                <span
                  id="btnSpinner"
                  class="spinner-border spinner-border-sm d-none"
                ></span>
                Calculate
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer  -->
    <footer class="py-3 my-4 bg-body-tertiary">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a
            href="https://www.linkedin.com/in/tanimowodavid"
            class="nav-link px-2 text-body-secondary"
            >LinkedIn</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://wa.me/+2349130739626"
            class="nav-link px-2 text-body-secondary"
            >WhatsApp</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/tanimowodavid"
            class="nav-link px-2 text-body-secondary"
            >Github</a
          >
        </li>
        <li class="nav-item">
          <a
            href="mailto:davidtanimowo01@gmail.com"
            class="nav-link px-2 text-body-secondary"
            >Email</a
          >
        </li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2025 Tanimowo David</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='retirement/index.js') }}"></script>
  </body>
</html>
