{% extends 'layout.html' %} {% block title %}Tanimowo David{% endblock %} {%
block content %} {% include 'nav.html' %}

<section class="bio-wrapper">
  <div class="padded">
    <h1>Personal Website</h1>
    <span><h5>tanimowodavid.com</h5></span>
    <div class="project-detail">
      <div class="details">
        <img
          src="{{ url_for('static', filename='images/mysite.png') }}"
          alt=""
        />
        <br /><br />
        <p>
          This personal website was built entirely with Flask following standard
          best practices for scalability and maintainability. It serves as a
          digital home where visitors can learn about me, explore my projects,
          and connect with my work.
          <br /><br />
          The site features a fully responsive design that looks great on both
          desktop and mobile, along with an elegant dark mode for better
          readability. I handled everything — from building the backend logic to
          styling the front end — to ensure the experience reflects both
          technical skill and creative simplicity. <br /><br />Building this
          project has been both a personal and professional milestone. It
          reflects my passion for creating meaningful digital experiences.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
